<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-table
            id="my-table"
            striped
            hover
            :items="trainHistories"
            :fields="history"
            :total-rows="rows"
            :per-page="perPage"
            :current-page="currentPage"
            ref="showHistory"
          >
            <template #cell(operators)="{ item }">
              <ShowRegister
                :item="JSON.parse(JSON.stringify(item))"
                ref="showRegisters"
              />
            </template>
          </b-table>
          <b-pagination
            v-if="rows > perPage"
            v-model="currentPage"
            pills
            :total-rows="rows"
            :per-page="perPage"
            prev-text="<"
            next-text=">"
            aria-controls="my-table"
            class="float-right"
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ShowRegister from './ShowRegister.vue'
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      history: [
        { key: 'title', label: 'หัวข้อการอบรม' },
        { key: 'status', label: 'สถานะ' },
        { key: 'operators', label: 'กระบวนการ' }
      ]
    }
  },
  components: {
    ShowRegister
  },
  computed: {
    trainHistories () {
      return this.$store.getters['student/trainHistories']
    },
    rows () {
      return this.trainHistories.length
    }
  }
}
</script>
