<template>
  <div class="mt-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card overflow-hidden mb-4">
      <div class="card-header">
        <div class="input-group">
          <input
            v-model="search"
            class="form-control"
            type="text"
            placeholder="ค้นหาการอบรม"
          />
        </div>
      </div>
      <div v-if="this.search !== ''">
        <div
          id="my-card"
          class="list-group rounded-0"
          v-for="train in filterTrains"
          :key="train._id"
        >
          <div
            class="list-group-item border-start-0 border-end-0 py-3 border-top-0"
          >
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img
                  class="avatar avatar-sm p-1"
                  src="https://therichpost.com/wp-content/uploads/2021/03/avatar2.png"
                  alt="Jassa Rich"
                />
              </div>
              <div class="flex-grow-1 ps-1">
                <p class="fs-20 float-right text-muted">
                  {{ format_date(train.datePost) }}
                </p>
                <h5
                  class="fw-bold col-xl-12 col-lg-12 col-md-12 col-sm-9 col-9"
                >
                  {{ train.title }}
                </h5>
                <p
                  class="fw-bold text-muted col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                >
                  {{ train.narrator }}
                </p>
                <p
                  class="text-muted col-xl-10 col-lg-11 col-md-10 col-sm-9 col-10"
                >
                  {{ train.description }}
                </p>
              </div>
            </div>
            <ShowDetail :train="train" ref="showDetails"></ShowDetail>
          </div>
        </div>
      </div>
      <div v-else>
        <div
          id="my-card"
          class="list-group rounded-0"
          v-for="train in getTrainByPage"
          :key="train._id"
        >
          <div
            class="list-group-item border-start-0 border-end-0 py-3 border-top-0"
          >
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img
                  class="avatar avatar-sm p-1"
                  src="https://therichpost.com/wp-content/uploads/2021/03/avatar2.png"
                  alt="Jassa Rich"
                />
              </div>
              <div class="flex-grow-1 ps-1">
                <p class="fs-20 float-right text-muted">
                  {{ format_date(train.datePost) }}
                </p>
                <h5
                  class="fw-bold col-xl-12 col-lg-12 col-md-12 col-sm-9 col-9"
                >
                  {{ train.title }}
                </h5>
                <p
                  class="fw-bold text-muted col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                >
                  {{ train.narrator }}
                </p>
                <p
                  class="text-muted col-xl-10 col-lg-11 col-md-10 col-sm-9 col-10"
                >
                  {{ train.description }}
                </p>
              </div>
            </div>
            <ShowDetail :train="train" ref="showDetails" />
          </div>
        </div>
      </div>
    </div>
    <div class="pagination float-right">
      <p v-if="currentPage != 0" @click="currentPage--">
        ก่อนหน้า
      </p>
      <p
        v-for="page in getNumberOfPage"
        :key="page.id"
        @click="currentPage = page - 1"
      >
        {{ page }}
      </p>
      <p v-if="currentPage != getNumberOfPage - 1" @click="currentPage++">
        ถัดไป
      </p>
    </div>
  </div>
</template>
<script>
import ShowDetail from './ShowDetail.vue'
import moment from 'moment'

export default {
  components: {
    ShowDetail
  },
  data () {
    return {
      perPage: 5,
      currentPage: 0,
      search: ''
    }
  },
  methods: {
    format_date (value) {
      return moment(String(value)).format('MM/DD/YYYY hh:mm')
    },
    getTrains () {
      this.$store.dispatch('trains/getTrains')
      console.log('train')
    },
    clearTrain () {
      this.$store.dispatch('trains/clearTrain')
    }
  },
  computed: {
    filterTrains: function () {
      return this.trains.filter(train => {
        return train.title.match(this.search)
      })
    },
    trains () {
      return this.$store.getters['trains/trains']
    },
    getTrainByPage () {
      var start = this.currentPage * this.perPage
      var end = start + this.perPage
      return this.trains.slice(start, end)
    },
    getNumberOfPage () {
      return Math.ceil(this.trains.length / this.perPage)
    }
  },
  mounted () {
    console.log('trainMounted')
    this.getTrains()
    this.clearTrain()
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');
@media only screen and (max-width: 385px) {
  h5 {
    font-size: 3vw;
  }
  p {
    font-size: 3vw;
  }
}
.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  z-index: 2;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}
.bg-gray-100 {
  background-color: #f8f9fa !important;
}
body {
  font-family: 'kanit' !important;
}
.text-primary {
  color: #4650dd !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2;
}
.text-muted {
  color: #6c757d !important;
}
.lead {
  font-size: 1.125rem;
  font-weight: 300;
}
.text-sm {
  font-size: 0.7875rem !important;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px);

  flex-wrap: wrap;
}
a {
  color: #4650dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.card-profile-img {
  position: relative;
  max-width: 8rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 2;
}
img,
svg {
  vertical-align: middle;
}
.avatar.avatar-lg {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  line-height: 3rem;
}
.form-control {
  color: #343a40;
}
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}
.contentDiv {
  padding-top: 4rem;
}
.card-profile .card-header {
  height: 9rem;
  background-position: center center;
  background-size: cover;
}

.pagination p {
  color: rgb(57, 105, 236);
  float: left;
  margin: 2px;
  padding: 8px 16px;
  border-radius: 50px;
  border: 0.5px rgb(57, 105, 236) solid;
}
.pagination p.active {
  background-color: #3570e7;
  color: white;
}
.pagination :hover {
  background-color: rgb(81, 144, 240);
  color: white;
}
</style>
