<template>
  <div>
    <b-button pill variant="outline-primary float-left" @click="showDetail()"
      >ดูรายละเอียด</b-button
    >
    <b-modal
      centered
      id="modal-ShowDetail"
      ref="modalShowDetail"
      ok-title="ตกลง"
      cancelTitle="ยกเลิก"
      @show="showModal"
      @hidden="resetModal"
    >
      <template #modal-title>
        <h5>{{ form.title }}</h5>
      </template>
      <p><b>ผู้บรรยาย: </b> {{ form.narrator }}</p>
      <p><b>รายละเอียด: </b> {{ form.description }}</p>
      <p><b>ช่องทางการอบรม: </b> {{ form.type }}: {{ form.channel }}</p>
      <b>วันเวลาอบรม: </b>
      <ol class="none">
        <li><b>เริ่มอบรม: </b>{{ format_date(form.dateTrainStart) }}</li>
        <li><b>สิ้นสุดอบรม: </b>{{ format_date(form.dateTrainEnd) }}</li>
      </ol>
      <b>เงื่อนไข: </b>
      <ol class="none">
        <li v-if="form.conditions.programe.length === 1">
          <b>สาขา: </b> เฉพาะสาขา{{ form.conditions.programe[0] }}เท่านั้น
        </li>
        <li v-else-if="form.conditions.programe.length === 2">
          <b>สาขา: </b> สำหรับสาขา{{ form.conditions.programe[0] }}และ
          {{ form.conditions.programe[1] }}
        </li>
        <li v-else-if="form.conditions.programe.length === 3">
          <b>สาขา: </b> สำหรับสาขา{{ form.conditions.programe[0] }}
          {{ form.conditions.programe[1] }}
          และ
          {{ form.conditions.programe[2] }}
        </li>
        <li v-else><b>สาขา: </b> สามารถลงทะเบียนได้ทุกสาขา</li>

        <li v-if="form.conditions.class.length === 1">
          <div v-if="form.conditions.class[0] === '5'">
            <b>ชั้นปี: </b> เฉพาะชั้นปีที่
            {{ form.conditions.class[0] }} ขึ้นไปเท่านั้น
          </div>
          <div v-else>
            <b>ชั้นปี: </b> เฉพาะชั้นปีที่
            {{ form.conditions.class[0] }} เท่านั้น
          </div>
        </li>
        <li v-else-if="form.conditions.class.length === 2">
          <div v-if="form.conditions.class[1] === '5'">
            <b>ชั้นปี: </b> สำหรับชั้นปีที่ {{ form.conditions.class[0] }} และ
            {{ form.conditions.class[1] }}ขึ้นไป
          </div>
          <div v-else>
            <b>ชั้นปี: </b> สำหรับชั้นปีที่ {{ form.conditions.class[0] }} และ
            {{ form.conditions.class[1] }}
          </div>
        </li>
        <li v-else-if="form.conditions.class.length === 3">
          <div v-if="form.conditions.class[2] === '5'">
            <b>ชั้นปี: </b> สำหรับชั้นปีที่ {{ form.conditions.class[0] }}
            {{ form.conditions.class[1] }}
            และ
            {{ form.conditions.class[2] }}ขึ้นไป
          </div>
          <div v-else>
            <b>ชั้นปี: </b> สำหรับชั้นปีที่ {{ form.conditions.class[0] }}
            {{ form.conditions.class[1] }}
            และ
            {{ form.conditions.class[2] }}
          </div>
        </li>
        <li v-else><b>ชั้นปี: </b> สามารถลงทะเบียนได้ทุกชั้นปี</li>
      </ol>
      <p>
        <b>จำนวนที่รับสมัคร: </b> {{ form.countApprove }}/{{ form.amount }} คน
      </p>
      <p><b>ผลลัพธ์: </b>{{ this.item.status }}</p>
    </b-modal>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  props: ['item'],
  data () {
    return {
      form: {
        _id: 0,
        title: '',
        description: '',
        conditions: {
          programe: [],
          class: []
        },
        narrator: '',
        type: '',
        channel: '',
        dateTrainStart: null,
        dateTrainEnd: null,
        amount: '',
        countApprove: 0
      },
      train: null
    }
  },
  methods: {
    format_date (value) {
      return moment(String(value)).format('MM/DD/YYYY hh:mm')
    },
    getTrainTitle () {
      console.log(this.item)
      this.$store.dispatch('trains/getTrainTitle', {
        title: this.item.title
      })
    },
    getTrain () {
      setTimeout(() => {
        console.log('2')
        this.train = this.$store.getters['trains/train']
        console.log(this.train)
      }, 300)
    },
    showDetail () {
      console.log('ดูรายละเอียด')
      this.getTrainTitle()
      this.getTrain()
      this.$nextTick(() => {
        this.show()
      })
    },
    show () {
      setTimeout(() => {
        this.$refs.modalShowDetail.show()
      }, 350)
    },
    resetForm () {
      this.form = {
        _id: 0,
        title: '',
        description: '',
        conditions: {
          programe: [],
          class: []
        },
        narrator: '',
        type: '',
        channel: '',
        dateTrainStart: null,
        dateTrainEnd: null,
        amount: '',
        countApprove: 0
      }
    },
    async showModal () {
      this.setModal()
    },
    setModal () {
      this.form._id = this.train._id
      this.form.title = this.train.title
      this.form.description = this.train.description
      this.form.conditions.programe = this.train.conditions.programe
      this.form.conditions.class = this.train.conditions.class
      this.form.narrator = this.train.narrator
      this.form.type = this.train.type
      this.form.channel = this.train.channel
      this.form.dateTrainStart = this.train.dateTrainStart
      this.form.dateTrainEnd = this.train.dateTrainEnd
      this.form.amount = this.train.amount
      this.form.countApprove = this.train.countApprove
    },
    resetModal (evt) {
      this.resetForm()
    }
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');

h5 {
  font-family: 'Kanit';
}
p,
li {
  font-size: 14px;
  font-family: 'Kanit';
}
ol.none {
  list-style-type: none;
}
</style>
