<template>
  <b-tabs class="tab-title">
    <b-tab title="ประชาสัมพันธ์" href="/"><Info></Info></b-tab>
    <b-tab title="ตรวจผล" href="/history"><History></History></b-tab>
  </b-tabs>
</template>
<script>
import Info from '../views/user/Info.vue'
import History from '../views/user/History.vue'
export default {
  components: {
    Info,
    History
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');
.tab-title {
  font-family: 'Kanit';
}
</style>
