<template>
  <div v-if="!isLogin">
    <Login></Login>
  </div>
  <div v-else>
    <div v-if="isAdmin">
      <NavbarAdmin></NavbarAdmin>
    </div>
    <div v-else>
      <Navbar></Navbar>
    </div>
  </div>
</template>
<script>
import Login from './views/Login.vue'
import Navbar from './views/user/Navbar.vue'
import NavbarAdmin from './views/admin/Navbar.vue'

export default {
  components: {
    Login,
    Navbar,
    NavbarAdmin
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    },
    isAdmin () {
      return this.$store.getters['auth/isAdmin']
    }
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');
.tab-title {
  font-family: 'Kanit';
}
</style>
