<template>
  <div>
    <b-button
      class="addMember mt-4 mr-3"
      pill
      variant="outline-success float-right"
      @click="add"
      >เพิ่มสมาชิก</b-button
    >
    <b-modal
      centered
      id="modol-ShowAddMember"
      ref="modalShowAddMember"
      okTitle="ตกลง"
      cancelTitle="ยกเลิก"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <template #modal-title>
        <h5>เพิ่มสมาชิก</h5>
      </template>
      <section>
        <div class="row">
          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-4">
                    <label class="form-label">รหัสนิสิต</label>
                    <input
                      class="form-control"
                      type="text"
                      v-model="form.studentCode"
                      placeholder="กรุณากรอกรหัสนิสิต"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </b-modal>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        studentCode: ''
      }
    }
  },
  methods: {
    add () {
      console.log('clickAddMember')
      this.isaddPost = true
      this.$nextTick(() => {
        this.show()
        this.isaddPost = false
      })
    },
    show () {
      this.$refs.modalShowAddMember.show()
    },
    submit () {
      this.$store.dispatch('service/checkRegis')
      setTimeout(() => {
        this.addMember()
        this.reset()
      }, 100)
    },
    reset () {
      this.form = {
        studentCode: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modol-ShowAddMember')
      })
      setTimeout(() => {
        location.reload(true)
      }, 800)
    },
    async addMember () {
      console.log(this.form)
      if (this.form.studentCode !== '') {
        this.$store.dispatch('service/addMember', {
          studentCode: this.form.studentCode
        })
      } else {
        alert('กรอกข้อมูลไม่ครบ')
      }
    }
  }
}
</script>
<style scoped>
.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  z-index: 2;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}
.bg-gray-100 {
  background-color: #f8f9fa !important;
}
body {
  font-family: 'Poppins' !important;
}
.text-primary {
  color: #4650dd !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2;
}
.text-muted {
  color: #6c757d !important;
}
.lead {
  font-size: 1.125rem;
  font-weight: 300;
}
.text-sm {
  font-size: 0.7875rem !important;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px);

  flex-wrap: wrap;
}
a {
  color: #4650dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.card-profile-img {
  position: relative;
  max-width: 8rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 2;
}
img,
svg {
  vertical-align: middle;
}
.avatar.avatar-lg {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  line-height: 3rem;
}
.form-control {
  color: #343a40;
}
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}
.contentDiv {
  padding-top: 4rem;
}
.card-profile .card-header {
  height: 9rem;
  background-position: center center;
  background-size: cover;
}
.card-body,
.addPost,
h5 {
  font-family: 'Kanit';
}
</style>
