<template>
  <div>
    <b-button
      class="addPost mt-4 mr-3"
      pill
      variant="outline-success float-right"
      @click="addPost"
      >สร้างประกาศ</b-button
    >
    <b-modal
      centered
      id="modol-ShowAddPost"
      ref="modalShowAddPost"
      okTitle="ประกาศ"
      cancelTitle="ยกเลิก"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <template #modal-title>
        <h5>สร้างประกาศ</h5>
      </template>
      <section>
        <div class="row">
          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-4">
                    <label class="form-label">เรื่อง</label>
                    <input
                      class="form-control"
                      type="text"
                      v-model="form.title"
                      placeholder="กรุณากรอกข้อมูลเรื่อง"
                      required
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-12">
                  <div class="mb-4">
                    <label class="form-label">ผู้บรรยาย</label>
                    <input
                      class="form-control"
                      type="text"
                      v-model="form.narrator"
                      placeholder="กรุณากรอกข้อมูลผู้บรรยาย"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">รายละเอียด</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      v-model="form.description"
                      placeholder="กรุณากรอกข้อมูลรายละเอียด"
                      required
                    ></textarea>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">สาขา</label> <br />
                    <div v-for="programe in programes" :key="programe._id">
                      <input
                        type="checkbox"
                        :value="programe.name"
                        v-model="form.conditions.programe"
                        class="mr-1"
                      />{{ programe.name }}
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">ชั้นปี</label> <br />
                    <input
                      type="checkbox"
                      id="class_1"
                      value="1"
                      v-model="form.conditions.class"
                      class="mr-1"
                    />
                    <label for="class_1" class="mr-4">ชั้นปีที่ 1</label>

                    <input
                      type="checkbox"
                      id="class_2"
                      value="2"
                      v-model="form.conditions.class"
                      class="mr-1"
                    />
                    <label for="2" class="mr-4">ชั้นปีที่ 2</label>

                    <input
                      type="checkbox"
                      id="class_3"
                      value="3"
                      v-model="form.conditions.class"
                      class="mr-1"
                    />
                    <label for="class_3" class="mr-4">ชั้นปีที่ 3</label>

                    <input
                      type="checkbox"
                      id="class_4"
                      value="4"
                      v-model="form.conditions.class"
                      class="mr-1"
                    />
                    <label for="class_4" class="mr-4">ชั้นปีที่ 4</label> <br />

                    <input
                      type="checkbox"
                      id="class_5"
                      value="5"
                      v-model="form.conditions.class"
                      class="mr-1"
                    />
                    <label for="class_5" class="mr-4">ชั้นปีที่ 4 ขึ้นไป</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">ช่องทางการบรรยาย</label> <br />
                    <input
                      type="radio"
                      v-model="form.type"
                      class="mr-1"
                      name="ประเภท"
                      value="ออนไลน์"
                    />ออนไลน์
                    <input
                      type="radio"
                      v-model="form.type"
                      class="mr-1"
                      name="ประเภท"
                      value="ในสถานที่ตีกคณะ"
                    />ในสถานที่ตีกคณะ
                    <div v-if="form.type === 'ในสถานที่ตีกคณะ'">
                      <b-form-select
                        id="place"
                        v-model="form.channel"
                        :options="place"
                        required
                      ></b-form-select>
                    </div>
                    <div v-else>
                      <input
                        class="form-control"
                        type="text"
                        v-model="form.channel"
                        placeholder="กรุณากรอกลิ้งค์"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">วันเวลาที่เริ่มอบรม</label> <br />
                    <date-picker
                      v-model="form.dateTrainStart"
                      type="datetime"
                      format="[วัน] YYYY-MM-DD [เวลา]  HH:mm a"
                      placeholder="วันเวลาที่เริ่มอบรม"
                      class="w-75"
                    ></date-picker>
                    <br />

                    <label class="form-label">วันเวลาที่สิ้นสุดการอบรม</label>
                    <br />
                    <date-picker
                      v-model="form.dateTrainEnd"
                      type="datetime"
                      format="[วัน] YYYY-MM-DD [เวลา]  HH:mm a"
                      placeholder="วันเวลาที่สิ้นสุดการอบรม"
                      class="w-75"
                    ></date-picker>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">จำนวนที่รับสมัคร</label>
                    <input
                      class="form-control"
                      type="number"
                      v-model="form.amount"
                      placeholder="กรุณาใส่จำนวนที่รับสมัคร"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </b-modal>
  </div>
</template>
<script>
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'

export default {
  components: { DatePicker },
  data () {
    return {
      form: {
        title: '',
        description: '',
        conditions: {
          programe: [],
          class: []
        },
        type: '',
        narrator: '',
        channel: '',
        dateTrainStart: null,
        dateTrainEnd: null,
        amount: ''
      },
      place: [
        { value: '', text: 'กรุณาเลือกสถานที่' },
        { value: 'ห้อง1', text: 'ห้อง1' },
        { value: 'ห้อง2', text: 'ห้อง2' },
        { value: 'ห้อง3', text: 'ห้อง3' }
      ]
    }
  },
  methods: {
    addPost () {
      console.log('clickAddPost')
      this.isaddPost = true
      this.$nextTick(() => {
        this.show()
        this.isaddPost = false
      })
    },
    show () {
      this.$refs.modalShowAddPost.show()
    },
    submit () {
      this.addTrain()
      this.reset()
    },
    reset () {
      this.form = {
        title: '',
        description: '',
        conditions: {
          programe: [],
          class: []
        },
        type: '',
        narrator: '',
        channel: '',
        dateTrainStart: null,
        dateTrainEnd: null,
        amount: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modol-ShowAddPost')
        setTimeout(() => {
          location.reload(true)
        }, 100)
      })
    },
    async addTrain () {
      if (
        this.form.title !== '' &&
        this.form.description !== '' &&
        this.form.narrator !== '' &&
        this.form.channel !== '' &&
        this.form.dateTrainStart !== null &&
        this.form.dateTrainEnd !== null &&
        this.form.amount !== ''
      ) {
        this.$store.dispatch('trains/addTrain', this.form)
      } else {
        alert('กรอกข้อมูลไม่ครบ')
      }
    }
  },
  computed: {
    programes () {
      return this.$store.getters['programes/getProgrames']
    }
  }
}
</script>
<style scoped>
.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  z-index: 2;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}
.bg-gray-100 {
  background-color: #f8f9fa !important;
}
body {
  font-family: 'Poppins' !important;
}
.text-primary {
  color: #4650dd !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2;
}
.text-muted {
  color: #6c757d !important;
}
.lead {
  font-size: 1.125rem;
  font-weight: 300;
}
.text-sm {
  font-size: 0.7875rem !important;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px);

  flex-wrap: wrap;
}
a {
  color: #4650dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.card-profile-img {
  position: relative;
  max-width: 8rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 2;
}
img,
svg {
  vertical-align: middle;
}
.avatar.avatar-lg {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  line-height: 3rem;
}
.form-control {
  color: #343a40;
}
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}
.contentDiv {
  padding-top: 4rem;
}
.card-profile .card-header {
  height: 9rem;
  background-position: center center;
  background-size: cover;
}
.card-body,
.addPost,
h5 {
  font-family: 'Kanit';
}
</style>
