<template>
  <div>
    <b-button
      class="addUser mt-4 mr-3"
      pill
      variant="outline-success float-right"
      @click="addUser"
      >เพิ่มผู้ใช้</b-button
    >
    <b-modal
      centered
      id="modol-ShowAddUsers"
      ref="modalShowAddUsers"
      okTitle="ตกลง"
      cancelTitle="ยกเลิก"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <template #modal-title>
        <h5>เพิ่มผู้ใช้</h5>
      </template>
      <section>
        <div class="row">
          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-4">
                    <label class="form-label">รหัสนิสิต</label>
                    <input
                      class="form-control"
                      type="text"
                      v-model="form.studentCode"
                      placeholder="กรุณากรอกข้อมูลรหัสนิสิต"
                      required
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-12">
                  <div class="mb-4">
                    <label class="form-label">ชื่อ</label>
                    <input
                      class="form-control"
                      type="text"
                      v-model="form.name"
                      placeholder="กรุณากรอกข้อมูลชื่อ"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">สาขา</label> <br />
                    <div v-for="programe in programes" :key="programe._id">
                      <input
                        type="radio"
                        v-model="form.programe"
                        class="mr-1"
                        name="สาขา"
                        :value="programe.name"
                      />
                      {{ programe.name }}
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">ชั้นปี</label> <br />
                    <input
                      type="radio"
                      v-model="form.class"
                      class="mr-1"
                      name="ชั้นปี"
                      value="1"
                    />
                    ชั้นปีที่ 1
                    <input
                      type="radio"
                      v-model="form.class"
                      class="mr-1 ml-2"
                      name="ชั้นปี"
                      value="2"
                    />
                    ชั้นปีที่ 2
                    <input
                      type="radio"
                      v-model="form.class"
                      class="mr-1"
                      name="ชั้นปี"
                      value="3"
                    />
                    ชั้นปีที่ 3
                    <input
                      type="radio"
                      v-model="form.class"
                      class="mr-1 ml-2"
                      name="ชั้นปี"
                      value="4"
                    />
                    ชั้นปีที่ 4
                    <input
                      type="radio"
                      v-model="form.class"
                      class="mr-1 ml-2"
                      name="ชั้นปี"
                      value="5"
                    />
                    ชั้นปีที่ 4 ขึ้นไป
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </b-modal>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        studentCode: '',
        name: '',
        programe: '',
        class: ''
      }
    }
  },
  methods: {
    addUser () {
      console.log('clickAddUser')
      this.isaddUser = true
      this.$nextTick(() => {
        this.show()
        this.isaddUser = false
      })
    },
    show () {
      this.$refs.modalShowAddUsers.show()
    },
    submit () {
      this.addStudent()
      this.reset()
    },
    reset () {
      this.form = {
        studentCode: '',
        name: '',
        programe: '',
        class: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modol-ShowAddUsers')
      })
    },
    addStudent () {
      if (
        this.form.studentCode !== '' &&
        this.form.name !== '' &&
        this.form.programe !== '' &&
        this.form.class !== ''
      ) {
        this.$store.dispatch('users/addStudent', this.form)
      } else {
        alert('กรอกข้อมูลไม่ครบ')
      }
    }
  },
  computed: {
    programes () {
      return this.$store.getters['programes/getProgrames']
    }
  }
}
</script>
<style scoped>
.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  z-index: 2;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}
.bg-gray-100 {
  background-color: #f8f9fa !important;
}
body {
  font-family: 'Poppins' !important;
}
.text-primary {
  color: #4650dd !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2;
}
.text-muted {
  color: #6c757d !important;
}
.lead {
  font-size: 1.125rem;
  font-weight: 300;
}
.text-sm {
  font-size: 0.7875rem !important;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px);

  flex-wrap: wrap;
}
a {
  color: #4650dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.card-profile-img {
  position: relative;
  max-width: 8rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 2;
}
img,
svg {
  vertical-align: middle;
}
.avatar.avatar-lg {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  line-height: 3rem;
}
.form-control {
  color: #343a40;
}
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}
.contentDiv {
  padding-top: 4rem;
}
.card-profile .card-header {
  height: 9rem;
  background-position: center center;
  background-size: cover;
}
.card-body,
.addPost,
h5 {
  font-family: 'Kanit';
}
</style>
