<template>
  <div>
    <b-button
      class="ml-1"
      pill
      variant="outline-success float-right"
      @click="updatePrograme"
      >แก้ไข</b-button
    >
    <b-modal
      centered
      id="modal-ShowEditPrograme"
      ref="modalShowEditPrograme"
      okTitle="เสร็จสิ้น"
      cancelTitle="ยกเลิก"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <template #modal-title>
        <h5>แก้ไขชื่อสาขา</h5>
      </template>
      <section>
        <div class="row">
          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-4">
                    <label class="form-label">เรื่อง</label>
                    <input
                      class="form-control"
                      type="text"
                      v-model="form.name"
                      placeholder="กรุณากรอกข้อมูลเรื่อง"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: ['item'],
  data () {
    return {
      form: {
        id: '',
        name: '',
        status: true
      }
    }
  },
  methods: {
    updatePrograme () {
      console.log('clickupdatePrograme')
      this.isaddPost = true
      this.$nextTick(() => {
        this.show()
      })
    },
    show () {
      this.$refs.modalShowEditPrograme.show()
    },
    submit () {
      this.updateTrain()
      this.reset()
    },
    reset () {
      this.form = {
        id: '',
        name: '',
        status: true
      }
    },
    setForm () {
      this.form._id = this.item._id
      this.form.name = this.item.name
      this.form.status = this.item.status
    },
    showModal () {
      this.setForm()
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        console.log('a')
        this.$bvModal.hide('modal-ShowEditPrograme')
        this.$store.dispatch('programes/getProgramesAll')
      })
    },
    updateTrain () {
      this.$store.dispatch('programes/updateProgrames', this.form)
    }
  }
}
</script>
<style scoped>
.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  z-index: 2;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}
.bg-gray-100 {
  background-color: #f8f9fa !important;
}
.text-primary {
  color: #4650dd !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2;
}
.text-muted {
  color: #6c757d !important;
}
.lead {
  font-size: 1.125rem;
  font-weight: 300;
}
.text-sm {
  font-size: 0.7875rem !important;
}
h3,
.h3 {
  font-size: 1.575rem;
}
.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px);

  flex-wrap: wrap;
}
a {
  color: #4650dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.card-profile-img {
  position: relative;
  max-width: 8rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 2;
}
img,
svg {
  vertical-align: middle;
}
.avatar.avatar-lg {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  line-height: 3rem;
}
.form-control {
  color: #343a40;
}
.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}
.contentDiv {
  padding-top: 4rem;
}
.card-profile .card-header {
  height: 9rem;
  background-position: center center;
  background-size: cover;
}
.card-body,
h5 {
  font-family: 'Kanit';
}
p {
  color: #6c757d;
  font-size: 12px;
}
</style>
