<template>
  <div>
    <nav
      class="navbar navbar-dark navbar-expand bg-primary justify-content-between"
    >
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item text-center">
            <router-link to="/admininfo">
              <a class="nav-link" data-toggle="modal">
                <b-img
                  src="../../assets/LogoCS.png"
                  rounded="circle"
                  alt="Circle image"
                  v-bind="Logo"
                ></b-img>
                <span class="d-none d-sm-inline d-xl-block px-1">
                  Infomatics
                </span>
              </a>
            </router-link>
          </li>
        </ul>

        <ul class="nav navbar-nav">
          <li class="nav-item text-center" id="login-btn">
            <a class="nav-link" data-toggle="modal">
              <b-dropdown
                size="md"
                variant="link"
                toggle-class="text-decoration-none"
                no-caret
                right
              >
                <template #button-content>
                  <p class="pt-3">admin</p>
                </template>
                <b-dropdown-item-button @click="logout()"
                  ><span>ออกจากระบบ</span></b-dropdown-item-button
                >
              </b-dropdown>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  data () {
    return {
      Logo: {
        width: 40,
        height: 40
      }
    }
  },
  methods: {
    async logout () {
      this.$store.dispatch('auth/logout')
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');
h4,
p {
  color: white !important;
  font-size: 14px;
}
.circle-img {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.navbar {
  font-family: 'kanit';
}
.profile {
  padding-top: auto;
  font-size: 12px;
  color: white;
}
</style>
