<template>
  <div class="mx-auto col-xl-10 col-lg-11 col-md-12 col-sm-12 col-12  ">
    <b-container fluid>
      <b-row>
        <AddProgrames />
      </b-row>
      <b-row>
        <div class="mt-3">
          <b-table
            id="my-table-membersmy-table-programes"
            striped
            hover
            :items="programes"
            :fields="fieldProgrames"
            ref="showProgrames"
          >
            <template #cell(operators)="{ item }">
              <b-row>
                <b-col
                  ><EditProgrames
                    :item="JSON.parse(JSON.stringify(item))"
                    ref="showProgrames"
                  />
                  <b-button @click="open(item)" class="ml-1" variant="primary">
                    เปิด
                  </b-button>
                  <b-button @click="close(item)" class="ml-1" variant="danger">
                    ปิด
                  </b-button></b-col
                >
              </b-row>
            </template>
          </b-table>
        </div>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import AddProgrames from './AddPrograme.vue'
import EditProgrames from './EditProgrames.vue'
export default {
  components: {
    AddProgrames,
    EditProgrames
  },
  data () {
    return {
      fieldProgrames: [
        { key: 'name', label: 'ชื่อ' },
        { key: 'status', label: 'สถานะ' },
        { key: 'operators', label: 'กระบวนการ' }
      ]
    }
  },
  methods: {
    getProgrames () {
      this.$store.dispatch('programes/getProgramesAll')
    },

    open (item) {
      console.log('เปิด')
      this.$store.dispatch('programes/updateProgrames', {
        _id: item._id,
        name: item.name,
        status: true
      })
    },
    close (item) {
      console.log('ปิด')
      this.$store.dispatch('programes/updateProgrames', {
        _id: item._id,
        name: item.name,
        status: false
      })
    }
  },
  computed: {
    programes () {
      return this.$store.getters['programes/getProgrames']
    }
  },
  mounted () {
    this.getProgrames()
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');
.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
