<template>
  <div class="mx-auto col-xl-10 col-lg-11 col-md-12 col-sm-12 col-12  ">
    <b-container fluid>
      <b-row>
        <AddMember />
      </b-row>
      <div v-if="train_members.length === 0 && train_queues.length === 0">
        <img
          src="../../assets/noReg.jpg"
          class="responsive"
          width="600"
          height="400"
        />
      </div>
      <b-row v-else>
        <div>
          <b-table
            id="my-table-membersmy-table-members"
            v-if="train_members.length > 0"
            striped
            hover
            :items="train_members"
            :fields="fieldMembers"
            ref="showMembers"
            caption-top
          >
            <template #table-caption><h5>รายชื่อสมาชิกในการอบรม</h5></template>
            <template #cell(programe)="{ item }">
              {{ item.programe[0] }}
            </template>
            <template #cell(class)="{ item }">
              {{ item.class[0] }}
            </template>
          </b-table>
          <b-pagination
            v-model="currentMemberPage"
            v-if="rowsMembers > perTable"
            pills
            :total-rows="rowsMembers"
            :per-page="perTable"
            first-text="<<"
            prev-text="<"
            next-text=">"
            last-text=">>"
            aria-controls="my-table-members"
            class="float-right"
          />
        </div>

        <div>
          <b-table
            id="my-table-membersmy-table-members"
            v-if="train_queues.length > 0"
            striped
            hover
            :items="train_queues"
            :fields="fieldQueues"
            ref="showMembers"
            caption-top
          >
            <template #table-caption><h5>รายชื่อสมาชิกรออนุมัติ</h5></template>
            <template #cell(programe)="{ item }">
              {{ item.programe[0] }}
            </template>
            <template #cell(class)="{ item }">
              {{ item.class[0] }}
            </template>
            <template #cell(dateRegis)="{ item }">
              {{ format_date(item.dateRegis) }}
            </template>

            <template #cell(operators)="{ item }">
              <b-button @click="approve(item)" class="ml-2" variant="primary">
                อนุมัติ
              </b-button>
              <b-button @click="reject(item)" class="ml-2" variant="danger">
                ไม่อนุมัติ
              </b-button>
            </template>
            <b-pagination
              v-model="currentQueuesPage"
              v-if="rowsQueues > perTable"
              pills
              :total-rows="rowsQueues"
              :per-page="perTable"
              first-text="<<"
              prev-text="<"
              next-text=">"
              last-text=">>"
              aria-controls="my-table-queues"
              class="float-right"
            />
          </b-table>
        </div>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import moment from 'moment'
import AddMember from './AddMember.vue'
export default {
  components: {
    AddMember
  },
  data () {
    return {
      perTable: 20,
      currentMemberPage: 1,
      currentQueuesPage: 1,
      fieldMembers: [
        { key: 'studentCode', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'programe', label: 'สาขา' },
        { key: 'class', label: 'ชั้นปี' }
      ],
      fieldQueues: [
        { key: 'studentCode', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'programe', label: 'สาขา' },
        { key: 'class', label: 'ชั้นปี' },
        { key: 'dateRegis', label: 'เวลาที่สมัคร' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      trainID: this.$route.params.id
    }
  },
  methods: {
    format_date (value) {
      return moment(String(value)).format('MM/DD/YYYY hh:mm')
    },
    getTrainID (id) {
      console.log(id)
      this.$store.dispatch('trains/getTrainID', { _id: id })
    },

    approve (item) {
      console.log('อนุมัติ')
      this.$store.dispatch('service/approve', item)
      setTimeout(() => {
        location.reload(true)
      }, 300)
    },
    reject (item) {
      console.log('ไม่อนุมัติ')
      this.$store.dispatch('service/reject', item)
      setTimeout(() => {
        location.reload(true)
      }, 400)
    }
  },
  computed: {
    train () {
      return this.$store.getters['trains/train']
    },
    train_members () {
      return this.$store.getters['trains/trainMembers']
    },
    train_queues () {
      return this.$store.getters['trains/trainQueues']
    },
    rowsMembers () {
      return this.train_members.length
    },
    rowsQueues () {
      return this.train_queues.length
    }
  },
  mounted () {
    this.getTrainID(this.trainID)
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');
.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
