<template>
  <div class="mx-auto col-xl-10 col-lg-11 col-md-12 col-sm-12 col-12  ">
    <b-container fluid>
      <b-row>
        <AddUser />
      </b-row>
      <b-row>
        <div class="mt-3">
          <b-table
            id="my-table-membersmy-table-users"
            striped
            hover
            :items="users"
            :fields="fieldUsers"
            ref="showUsers"
          >
            <template #cell(programe)="{ item }">
              {{ item.programe[0] }}
            </template>
            <template #cell(class)="{ item }">
              {{ item.class[0] }}
            </template>
            <template #cell(email)="{ item }">
              {{ item.studentCode }}@go.buu.ac.th
            </template>
          </b-table>
        </div>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import AddUser from './AddUser.vue'
export default {
  components: {
    AddUser
  },
  data () {
    return {
      fieldUsers: [
        { key: 'studentCode', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'programe', label: 'สาขา' },
        { key: 'class', label: 'ชั้นปี' },
        { key: 'email', label: 'อีเมล' }
      ]
    }
  },
  methods: {
    getUsers () {
      this.$store.dispatch('users/getUsers')
    }
  },
  computed: {
    users () {
      return this.$store.getters['users/getUsers']
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');
.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
