<template>
  <div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
      <div class="box-1">
        <img src="../assets/cs.jpeg" />
      </div>
      <div class="box-2 d-flex flex-column h-100">
        <div class="mt-5">
          <p class="mb-1 h-1 text-primary">เข้าสู่ระบบ</p>
          <p class="text-muted mb-2">
            คณะหนึ่งในห้าของประเทศที่มุ่งสร้างอารยะบัณฑิตด้านเทคโนโลยีดิจิทัลและระบบอัจฉริยะเพื่อขับเคลื่อน
            EEC และภาคตะวันออก
          </p>
          <b-form-group
            id="input-group-1"
            class="m-2"
            label="อีเมล:"
            label-form="input-1"
          >
            <b-form-input
              id="input-1"
              class="p-2"
              v-model="form.email"
              type="email"
              placeholder="กรุณากรอกอีเมล"
              required
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="input-grop-1"
            class="m-2"
            label="รหัสผ่าน:"
            label-form="input-1"
          >
            <b-form-input
              id="input-2"
              class="p-2"
              v-model="form.password"
              type="password"
              placeholder="กรุณากรอกรหัสผ่าน"
              required
            >
            </b-form-input>
          </b-form-group>
          <div class="d-flex align-items-center">
            <b-button
              block
              pill
              variant="outline-primary"
              class="mt-2"
              @click="login()"
            >
              เข้าสู่ระบบ
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      emptyFields: false,
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    async login () {
      if (this.form.email === '' && this.passwordLogin === '') {
        this.emptyFields = true
      } else {
        this.$store.dispatch('auth/login', this.form)
      }
    }
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'kanit';
}

.container {
  margin: 100px auto;
}
.body {
  position: relative;
  width: 720px;
  height: 440px;
  margin: 20px auto;
  border: 1px solid #dddd;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-2 {
  padding: 10px;
}

.box-1,
.box-2 {
  height: 100%;
  width: 50%;
}

.h-1 {
  font-size: 24px;
  font-weight: 700;
}

.text-muted {
  font-size: 14px;
}

.container .box {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  text-decoration: none;
  color: #615f5fdd;
}

.box:active,
.box:visited {
  border: 2px solid #ee82ee;
}

.box:hover {
  border: 2px solid #ee82ee;
}

.btn.btn-primary {
  background-color: transparent;
  color: #ff1d1d;
  border: 0px;
  padding: 0;
  font-size: 12px;
}

.btn.btn-primary .fas.fa-chevron-right {
  font-size: 12px;
}

.footer .p-color {
  color: #ee82ee;
}

.footer.text-muted {
  font-size: 10px;
}

.fas.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-color: #f3cff379;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas.fa-times:hover {
  color: #ff0000;
}
#input-1,
#input-2 {
  font-size: 12px;
}

@media (max-width: 767px) {
  body {
    padding: 10px;
  }

  .body {
    width: 100%;
    height: 100%;
  }

  .box-1 {
    width: 100%;
  }

  .box-2 {
    width: 100%;
    height: 440px;
  }
}
</style>
